In [2]:
import pandas as pd
url = "https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-05-05/villagers.csv"
df = pd.read_csv(url)
df.isna().sum()

row_n           0
id              1
name            0
gender          0
species         0
birthday        0
personality     0
song           11
phrase          0
full_id         0
url             0
dtype: int64

In [3]:
rows, columns = df.shape
print(f"Number of rows: {rows}")
print(f"Number of columns: {columns}")

Number of rows: 391
Number of columns: 11

In [ ]:
#2.2: Observations are the entries of the dataset, they are usually the data in rows that need to be observed to see what characteristics they have. 
#Variables are the features that observations have, they are usually the data in columns have different attributes.

In [ ]:
#3. To provide simple summaries of the columns in dataset, 1) df.info: provides a summary of the DataFrame about numbers of non-null values, data types, and memory usuage. 
#2) df.describe: gives descriptive statistics for numerical columns, such as count, mean, standard deviation, min, and max values.
#3) df[column].value_counts(): for each categorical column, it lists the count of unique values.
#4) df.types: Lists the data type of each column in the DataFrame.

In [2]:
#4.a) For non-numeric values: df.shape gives the total observations and variables, no matter the columns has numeric or non-numeric data. 
#df.describe only summarizes the columns that are numeric. 
#b) For missing values in numeric variables: df.shape summarizes all the rows, no matter there are missing values or not. 
#df.describe will count all the non-missing valus in the numeric columns.

In [ ]:
#5. An attribute is a characteristics of an object that does not perform operations. For example, df.shape is an attribute that returns the dimensions of the data
# A method is a function that performs an operation on the object, need parentheses that can pass arguments to perform an action. For example: df.describe()

In [ ]:
#6. Count is the number of non-missing values in the column. Mean is the average of the data values in the column. Standard Deviation is the measure of the spread of the data points from the mean. 
#Minimum is the smallest point in the column. 25% is the value below which 25% of the data points fall. 50% is the middle value of the data (median). 75% is the value below which 75% of the data points fall. Maximum is the largest data point.

In [11]:
#7. 1)For example if there is a survey with few blank answers, it would be better to use df.dropna() because the rest of the data is still useful. 
#2) For example if the same survey has a column where almost nobody answered, it can mean that this question is unhelpful to the analysis, which in this case can use del df['col']. 
#3) Columns that have large amount of missing values should be applied first because then I only need to remove few rows based on the remaining columns with important data. 
#4) I'm using the animal crossing dataset: 
url = "https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-05-05/villagers.csv"
df = pd.read_csv(url)
del df['song']
df.dropna()
#before: song has 11 missin values and id has 1 missing value
#I deleted the song column because I think it is not very relvent to analysis, and then dropped the missing values. 
#after: no missing values, there are 390 rows (1 row removed due to the missing id value).

,row_n,id,name,gender,species,birthday,personality,phrase,full_id,url
0,2,admiral,Admiral,male,bird,1-27,cranky,aye aye,villager-admiral,https://villagerdb.com/images/villagers/thumb/...
1,3,agent-s,Agent S,female,squirrel,7-2,peppy,sidekick,villager-agent-s,https://villagerdb.com/images/villagers/thumb/...
2,4,agnes,Agnes,female,pig,4-21,uchi,snuffle,villager-agnes,https://villagerdb.com/images/villagers/thumb/...
3,6,al,Al,male,gorilla,10-18,lazy,Ayyeeee,villager-al,https://villagerdb.com/images/villagers/thumb/...
4,7,alfonso,Alfonso,male,alligator,6-9,lazy,it'sa me,villager-alfonso,https://villagerdb.com/images/villagers/thumb/...
...,...,...,...,...,...,...,...,...,...,...
386,475,winnie,Winnie,female,horse,1-31,peppy,hay-OK,villager-winnie,https://villagerdb.com/images/villagers/thumb/...
387,477,wolfgang,Wolfgang,male,wolf,11-25,cranky,snarrrl,villager-wolfgang,https://villagerdb.com/images/villagers/thumb/...
388,480,yuka,Yuka,female,koala,7-20,snooty,tsk tsk,villager-yuka,https://villagerdb.com/images/villagers/thumb/...
389,481,zell,Zell,male,deer,6-7,smug,pronk,villager-zell,https://villagerdb.com/images/villagers/thumb/...
390,483,zucker,Zucker,male,octopus,3-8,lazy,bloop,villager-zucker,https://villagerdb.com/images/villagers/thumb/...

In [22]:
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
df = pd.read_csv(url)
df.groupby("survived")["pclass"].describe()
#8.1) Groupby operation groups the rows of the data that shares the same value. ["col2"] means to apply operations to column 2. .describe() applies to each group of col2. 
#2) df.describing counts for every non-missing value in each column without any grouping. df.groupby("col1")["col2"].describe() is the count calculated for each group within col1. It shows how many non-missing values are present in col2, not in the whole dataframe. 
#3) i. It is easier to use ChatGPT in this problem. Chat shows how to solve the problem right away, while Google has many different solutions and takes more time to search into the answer. 
#ii. ChatGPT gives a more comprehensive answer than Google. Chat says that the file is either misspelled, located in the wrong directory, or not present at all. While Google only says that there is no file of that name in the work directory. 
#iii. Both didn't recognise the mistake directly. I still think it's easier to find out the mistake in ChatGPT because it types out the correct function name in non-capital letters, while Google led to a total different question area. 
#iv. ChatGPT gives a better answer than Google. Google types out the whole parenthesis, but Chat tells me where my problem is and gives a full explanation. 
#v. In this case, both ChatGPT and Google have similar results. Chat tells me that I have a typo, while Google suggests me to retype my input to the correct spelling. 
#vi. ChatGPT quickly sees the problem that I have a typo in the code, and Google cannot identify the problem. 
#vii. Very similar case to vi., ChatGPT recognises the problem right away, while Google cannot.

          count      mean       std  min  25%  50%  75%  max
survived
0         549.0  2.531876  0.735805  1.0  2.0  3.0  3.0  3.0
1         342.0  1.950292  0.863321  1.0  1.0  2.0  3.0  3.0

In [ ]:
#9. Yes

In [ ]:
#Here is the link to chat log histories for questions 1-7 (https://chatgpt.com/c/66eb5e85-4610-8011-9def-7763e91db0b2)
#Link to chat lof histories for questions 8 (https://chatgpt.com/c/66ec6f07-bedc-8011-baf6-dd14e4a2b3fd)